.home {
    @include background-image(linear-gradient(bottom, #111111 0%, #454545 100%));
}

#logo {
    background-image: url(/img/logo.png);
    height: 111px;
    width: 691px;
    margin: 100px auto 0;
}

#welcome-msg {
    text-align: center;
    margin: 50px auto 0;
    color: #ddd;
    font-weight: 300;
}

#home-menu {
    width: 200px;
    margin: 50px auto 0;
    background-color: transparent;
}

.menu-items {
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
    @include border-radius(5px);
    @include box-shadow(0 0 20px #454545);
}

.menu-item {
    list-style: none;
    margin: 10px;
}

#sign-in-overlay {
    background-color: #444;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px #fff;

    p {
        display: inline-block;
        margin: 0 15px 0 0;
        font-weight: 300;
        color: #fff;
    }

    #sign-in-username {
        height: 30px;
        margin-right: 15px;
        padding-left: 15px;
    }
}

#sign-in-button {
    margin: 0 10px;
}